
    <nav class="navbar navbar-default fixed-top navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only navbar-toggler-icon">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
            <a class="navbar-brand" href="https://www.findemor.es">findemor</a>
          
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://blog.findemor.es">Blog</a></li>
            <li><a href="https://www.findemor.es">Sobre mi</a></li>
          </ul>
        </div>

        <div class="avatar-container">
          <div class="avatar-img-border">
            <a href="https://www.findemor.es">
              <img class="avatar-img" src="https://www.findemor.es/img/findemor-logo.png" />
            </a>
          </div>
        </div>
      </div>
    </nav>
